@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    background-color: white;
}

.container {
    width: 1000px;
    margin: auto;
    font-size: 0;
}
i,em{
    font-size:16px;
}
h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

p, ul {
    font-size: 14px;
    margin: 0;
}

a {
    font-size: 14px;
}

header {
    background-color: #303030;
    color: white;
}

header ul {
    margin: 0;
    text-align: center;
}

header ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}

header ul a {
    color: white;
    text-decoration: none;
}

header ul li:hover, header ul .current {
    background-color: #434545;
}

.titleBlock {
    background-image: url("../img/index/titleBG.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    padding: 30px;
    border-bottom: 10px solid #434545;
}

.titleBlock .mainLogo {
    width: 500px;
    display: block;
    margin: auto;
}

.titleBlock .logo {
    display: block;
    width: 300px;
}

.titleBlock h1 {
    text-align: center;
    font-size: 42px;
    display: block;
    width: 800px;
    margin: auto;
}

main .leftMenu {
    display: inline-block;
    width: 200px;
    background-color: #434545;
}

main .leftMenu ul {
    list-style: none;
    padding: 0;
}

main .leftMenu ul li {

}

main .leftMenu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 2px solid #767676;
}

main .leftMenu .submenu {
    padding-left: 10px;
    background-color: #767676;
}

main .leftMenu .submenu li a {
    border: none;
    color: #d5d5d5;
}

main .leftMenu .submenu .subActive {
    margin-left: 10px;
}

main .leftMenu ul li a:hover {
    background-color: #767676;
}

main .leftMenu .active a {
    border-bottom: 2px solid #434545;
    background-color: #767676;
}

main .content {
    display: inline-block;
    width: 780px;
    vertical-align: top;
    padding-left: 20px;
}

main .content label {
    display: block;
    font-size: 14px;
    margin: 10px 30px;
}

main .content label img {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
}

main .content .showAnswer {
    display: block;
    text-align: center;
    margin: auto;
    width: 200px;
    background-color: #aedd94;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
main > .content, main .content > ol, main .content > ul{
    font-size:14px;
}
main .content .answer {
    display: none;
    border-top: 2px solid #504f4f;
    margin-top: 20px;
}

main h2 {
    text-align: center;
}

main p {
    text-align: justify;
    text-indent: 20px;
}

main .groups {
    text-align: center;
}

main .groups .group {
    width: 400px;
    background-color: white;
    margin: 50px 40px;
    display: inline-block;
    text-align: left;
}

main .groups .groupImage {
    height: 220px;
    width: 100%;
    overflow: hidden;
}

main .groups .group img {
    width: 100%;
    display: block;
}

main .groups .group h2, main .groups .group p {
    padding: 10px 20px;
    margin: 0;
}

.theorem, .determination {
    margin: 20px auto;
}

.theorem .theoremLogo, .determination .determinationLogo {
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: top;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
}

.theorem .theoremContent, .determination .determinationContent {
    display: inline-block;
    width: 747px;
    background-color: #ebebeb;
    box-sizing: border-box;
    padding: 10px;
}

.theorem .theoremContent {
    border-left: 2px solid #ff6624;
}

.determination .determinationContent {
    border-left: 2px solid #0c59cf;
}

.theorem .theoremContent h3, .determination .determinationContent h3 {
    margin-top: 0;
}

.equation {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

.navButtons {
    margin-top: 20px;
}

.navButtons a {
    display: inline-block;
    background-color: #ebebeb;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.navButtons a p, .navButtons a img {
    display: inline-block;
}

.navButtons a p {
    line-height: 24px;
    vertical-align: top;
}

.navButtons a img {
    vertical-align: middle;
}

.navButtons .forward {
    float: right;
}

footer {
    border-top: 4px solid black;
    background-color: #c5c5c5;
    margin-top: 30px;
}

footer h1 {
    font-size: 28px;
}

footer table {
    text-align: left;
    display: inline-block;
    font-size: 12px;
}

footer .copyrights {
    display: inline-block;
    vertical-align: top;

}

footer table td, footer table th {
    border-right: 20px solid transparent;
    width: 320px;
    vertical-align: top;
}

footer .bottomline {
    background-color: #303030;
    color: white;
    padding: 5px 0;
}

footer .bottomline img {
    margin-left: 20px;
}

footer .bottomline p {
    float: right;
    margin: 14px 20px 14px 0;
}